.ParticipantCard {
  display: grid;
  grid-template-rows: 1fr;
  padding: 5px;
  margin: 5px 0;
}

.ParticipantCard__Image {
  display: flex;
  padding: 5px;
}
.ParticipantCardImage {
  max-width: 300px;
  width: 100%;
  margin: auto;
}

.ParticipantCard__Block {
  display: grid;
  grid-template-columns: 25px 1fr;
  margin: 5px 0 10px 0;
}

.ParticipantCard__Seed {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--theme-background-colour);
  color: var(--theme-colour-colour);
  margin-right: 4px;
}

.ParticipantCard__Name {
  margin: 2px 0;
}
