.MatchupDisplay {
  grid-area: core;
  height: 100vh;
  overflow: auto;
  padding: 20px;
  box-sizing: border-box;
}

.MatchupDisplay__Close {
  position: absolute;
  top: 0.83em;
  right: 20px;
}

.MatchDisplay__Cancel:focus span,
.MatchDisplay__Cancel:hover span {
  color: var(--theme-background-colour);
}

.MatchupDisplay__Header {
  margin: 0 5px;
}

.MatchupDisplay__Content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  width: 100%;
}

.MatchDisplayButtonGroup > * {
  margin: 0 5px;
}
