/* App Page */
.App {
  --padding: 10px;
  padding: var(--padding);
  max-height: calc(100% - var(--padding) * 2);
  overflow: auto;
}

.App__Actions {
  display: flex;
  justify-content: space-between;
}

.App__Landing {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1px;
}

@media (max-width: 768px) {
  .App__Landing {
    grid-template-columns: 1fr;
  }
}
