/* App Page */
.App {
  padding: 10px;
}

.App__Landing {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1px;
}

@media (max-width: 768px) {
  .App__Landing {
    grid-template-columns: 1fr;
  }
}
