.Control {
  display: flex;
  flex-direction: column;
  min-width: 200px;
  margin-bottom: 8px;
}

.ButtonGroup {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* Participants Panel */
.ParticipantsPanel {
  height: calc(100% - 1.25em);
}

.ParticipantsList {
  list-style-type: none;
  padding: 0 4px;
  max-height: calc(100% - 88px);
  overflow: auto;
  overflow-x: hidden;
}

/* Participant Item */
.Participant {
  position: relative;
  display: flex;
  align-items: center;
  background-color: var(--participant-background-colour);
  color: var(--participant-colour);
  padding: 4px;
  margin-bottom: 4px;
}

.Participant_Handle {
  position: absolute;
  top: 0;
  left: 0;
  height: 10px;
  width: 10px;
  border: 1px dashed;
  cursor: move;
}

.Participant_Number {
  width: 20px;
}

.Participant_Controls {
  display: flex;
  flex-direction: column;
  width: -webkit-fill-available;
}

.Participant_Control {
  margin-bottom: 16px;
}

.Participant_Remove {
  align-self: baseline;
  width: 25px;
  margin-left: 2px;
}

.Participant_RemoveButton {
  background: #fff;
  border: none;
  border-radius: 5px;
  font-size: 0.9rem;
  padding: 2px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
