.Control {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 200px;
  margin-bottom: 8px;
}

.ButtonGroup {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* Participants Panel */
.ParticipantsPanel {
  height: calc(100% - 1.25em);
}

.ParticipantsList {
  list-style-type: none;
  padding: 0 4px;
  max-height: calc(100% - 88px);
  overflow: auto;
  overflow-x: hidden;
}

/* Participant Item */
.Participant {
  display: flex;
  align-items: center;
  background-color: var(--participant-background-colour);
  color: var(--participant-colour);
  padding: 4px;
  margin-bottom: 4px;
}

.Participant_Handle,
.Participant_Number {
  width: 15px;
}

.Participant_Controls {
  display: flex;
  flex-direction: column;
  width: -webkit-fill-available;
}

.Participant_Control {
  margin-bottom: 16px;
}

.Participant_Remove {
  width: 25px;
}
