:root {
  --anti-flash-white: #f2f3f4;
  --steel-grey: #676b78;
  --dark-slate: #282c35;
  --gold: #ffd700;

  --theme-background-colour: #66023c;
  --theme-background-colour-constrast: #960359;
  --theme-colour-colour: #fff;
  --danger-colour: #f52626;
  --danger-colour-contrast: #db0a0a;
  --danger-colour-colour: #fff;

  --regular-button-background-colour-constrast: #ddd;
  --regular-button-colour-colour: #000;

  --landing-page-header-background-colour: var(--steel-grey);
  --landing-page-header-colour: #fff;

  --bracket-information-background-colour: var(--steel-grey);
  --bracket-information-colour: #fff;
  --bracket-information-options-width: 50px;

  --bracket-information-options-background-colour: #66023c;
  --bracket-information-option-hover-background-colour: var(--anti-flash-white);
  --bracket-information-option-hover-colour: #000;
  --bracket-information-option-active-colour: var(--steel-grey);

  --participant-background-colour: var(--dark-slate);

  --bracket-background-colour: var(--anti-flash-white);

  --zoom-tools-background-colour: var(--steel-grey);
  --zoom-tools-colour: #fff;

  --matchup-border-colour: var(--dark-slate);
  --matchup-border-fade-colour: var(--steel-grey);
  --matchup-border-hover-colour: var(--gold);
  --matchup-slot-colour: var(--dark-slate);
}

html {
  background-color: var(--anti-flash-white);
}

body {
  font-size: 16px;
  font-family: 'Lucida Console', 'Consolas', monospace;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

#root {
  height: 100%;
}

/* Control */
.Control {
  display: flex;
  flex-direction: column;
  min-width: 200px;
  margin-bottom: 8px;
}

.Control__Checkbox {
  display: flex;
  width: fit-content;
  align-items: center;
}
.Control__Checkbox input[type='checkbox'] {
  margin-left: 0;
}

.Control__Checkbox,
.Control__Checkbox input[type='checkbox']:not(:disabled) {
  cursor: pointer;
}

/* Button styling */
button {
  background-color: inherit;
  color: inherit;
  border: none;
  font-size: inherit;
  padding: 5px;
}

button:disabled,
button:disabled:focus,
button:disabled:hover,
button[disabled],
button[disabled]:focus,
button[disabled]:hover {
  background: #ccc;
  color: #000;
}

button:not([disabled]) {
  cursor: pointer;
}

.RegularButton:focus,
.RegularButton:hover {
  background-color: var(--regular-button-background-colour-constrast);
  color: var(--regular-button-colour-colour);
}

.PrimaryButton {
  background-color: var(--theme-background-colour);
  color: var(--theme-colour-colour);
  border: none;
}

.PrimaryButton:focus,
.PrimaryButton:hover {
  background-color: var(--theme-background-colour-constrast);
}

.DangerButton {
  background-color: var(--danger-colour);
  color: var(--danger-colour-colour);
  border: none;
}

.DangerButton:focus,
.DangerButton:hover {
  background-color: var(--danger-colour-contrast);
}
